.navbar{
    background-color: darkslategrey;
    height: 40px;
    width: 100%;

    .text-center{
        margin-left: 40%;
        font-size:x-large;
        
    }
    .button{
        
        width: 20px
    }
}
.col-lg-6{

    margin-left: 60%;
    padding-bottom: 50%;
}