<nav class="navbar">
 <h1 class="text-center">User Initals</h1>
</nav>
<div class="container">
  <img src="../assets/1.jpg"/>

  <div class="col-lg-6">
    <table class="table table-striped table-bordered">
      <thead>
          <tr>   
              <th>Name:</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.Name.charAt(0)}}</td>
          </tr>
      </tbody>
  </table>
  </div>
       
</div>

<router-outlet></router-outlet>
